ENV=development
LOG_LEVEL=debug

APP_NAME=mooc-manus-api

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_QUEUE_DB=1

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/manus?schema=public"

TENCENT_COS_SECRET_ID=xxxxxx
TENCENT_COS_SECRET_KEY=xxxxxx
TENCENT_COS_REGION=xxxxxx
TENCENT_COS_BUCKET=xxxxxx
TENCENT_COS_SCHEMA=https

PG_VECTOR_HOST=127.0.0.1
PG_VECTOR_PORT=5433
PG_VECTOR_USER=postgres
PG_VECTOR_PASSWORD=postgres
PG_VECTOR_DB=manus